.super-mario {
    width: 80px;
    position: absolute;
    

  }
  
  .goomba {
    width: 70px;
    
  }
  
  .baloon {
  width: ;
  
  }
  
  .speach {
    font-size: 25px;
    
  }
  
  .bowser {
    width: 200px;
   right:30%;
  }